body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1c1e2f, #1f4037);
  color: white;
}

h2 {
  color: #b2f5ea;
}

.monitor-form {
  max-width: 800px;
  margin: 40px auto;
  margin-top: 100px;
  color: white;
  font-family: sans-serif;
}
.card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.monitor-form input,
.monitor-form select,
.monitor-form button {
  display: block;
  width: 90%;
  margin: 10px 0 26px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.monitor-form button {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

