body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1c1e2f, #1f4037);
  color: white;
}

h2 {
  color: #b2f5ea;
  margin-bottom: 20px;
}

.addweb-form {
  width: 800px;
  margin: 400px auto 40px auto;
  color: white;
  font-family: sans-serif;
}

.card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.addweb-form input,
.addweb-form select {
  display: block;
  width: 90%;
  margin: 10px 0 26px;
  padding: 10px;
  border-radius: 5px;
  background-color: #374151;
  color: white;
  border: none;
}

.addweb-form button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 310px;
  margin-right: 60px;
}

.slider-container {
  position: relative;
  margin-bottom: 10px;
}

.slider {
  width: 100%;
  height: 6px;
  background: #30363d;
  border-radius: 5px;
  appearance: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #5f5fff;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #5f5fff;
  cursor: pointer;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #8b949e;
  width: 90%;
  margin-top: 6px;
  margin-left: 10px;
}

.interval-text {
  color: #00ff88;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.monitor-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.monitor-desc {
  color: #8b949e;
  font-size: 14px;
  margin-bottom: 20px;
}

.monitor-desc b {
  color: #ffffff;
}

.monitor-desc a {
  color: #2fef7a;
  text-decoration: none;
}
