body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1c1e2f, #1f4037);
  color: white;
}

.page-wrapper{
  margin-top: 10px;
  background-color: #1f2937;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}

.account-container {
  width: 800px;
  margin: 40px auto;
  color: white;
  font-family: sans-serif;
}

h3{
  margin-bottom: 10px;
}

h2 {
  color: #b2f5ea;
}

.card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
  padding-left: 6px;
  font-weight: bold;
  color: white;
}

.form-group input,
.form-group select {
  height: 40px;
  padding: 10px;
  background-color: #161b22;
  color: white;
  border: none;
  border-radius: 5px;
}

.save-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
