body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1c1e2f, #1f4037);
  color: white;
}

.dashboard {
  background-color: #0f172a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-content {
  background-color: #0f172a;
  flex-grow: 1;
  padding: 2rem;
  margin-top: 15px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #b2f5ea;
  margin-bottom: 10px;
}

.controls-with-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

.controls input,
.filter-select {
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #30363d;
  color: #fff;
}

.controls input {
  width: 270px;
}

.filter-select {
  width: 100px;
}

.add-button {
  width: 150px;
  height: 45px;
  background-color: #5f5fff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.status-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  padding: 10px 15px;
  border-radius: 10px;
  gap: 4px;
}

.status-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.status-header h3 {
  margin: 0;
  font-size: 16px;
}

.status-circle {
  width: 24px;
  height: 24px;
  background-color: #00ff88;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.monitor-list {
  margin-top: 20px;
}

.monitor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.name-url-combined {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.text-info strong {
  font-size: 17px;
}

.url-text-inline {
  font-size: 15px;
  padding: 4px 0px 0 50px;
  color: #ccc;
  margin-top: 2px;
}

.time-set {
  padding: 10px;
  margin-right: 20px;
}

.monitor-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.uptime-bar {
  background-color: #30363d;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  margin: 4px 0;
}

.uptime-fill {
  height: 6px;
  border-radius: 5px;
}

.menu-container {
  position: relative;
  margin-left: 20px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #21262d;
  border: 1px solid #30363d;
  border-radius: 4px;
  min-width: 100px;
  z-index: 100;
}

.menu-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
}

.menu-item:hover {
  background-color: #30363d;
}

.monitor-card p {
  margin-left: -10px; 
}