body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1c1e2f, #1f4037);
  color: white;
}

.dashboard-container {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #1f2937;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Arial, sans-serif;
}

.website-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.website-title h2 {
  margin: 0;
  font-size: 20px;
}

.website-title a{
margin-left: 15px;
font-size: 20px; 
color: #b2f5ea;
}

.website-actions button {
  height: 35px;
  width: 120px;
  margin-left: 10px;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  text-decoration: none;
}

.status-info {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.status-card {
  background-color: #0e1525;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}

.inpadding{
  padding :6px;
}

.green {
  color: #00ff88;
  font-weight: bold;
}

.uptime-stats {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.uptime-card {
  background-color: #0e1525;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}

.bar.full {
  width: 100%;
  height: 6px;
  background-color: #00ff88;
  border-radius: 3px;
  margin: 8px 0;
}

.response-time {
  background-color: #1f2937;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.response-time .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.response-time .graph {
  margin: 20px 0;
  height: 200px;
  background-color: #0e172a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats{
    display: flex;
    gap: 25%
}

.stats p {
  margin: 5px 0;
}
